* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Patua One', cursive;
	font-weight: 300;
}

img, 
embed, 
object, 
video {
	max-width: 100%;
}

nav a, 
button {
	min-width: 48px;
	min-height: 48px;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 18px;
}

hr {
	border: solid 4px;
	height: 0px;
	color: #7d97ad;
}

h1, 
h3, 
p {
	color: #2d3c49;
}

h2 {
	color: #7d97ad;
}

.logo {
	max-width: 165px;
	float: left;
}

.img-responsive {
	margin: 0 auto;
}

.img-project {
	margin: 0 auto;
	height: 200px;
}

footer {
	min-height: 50px;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
}
